body {
    background-image : url("../pictures/fence01.jpg");
    background-repeat: repeat;
    margin: auto;
    text-align: center;
    color: white;
}

a {
    color : yellow;
}

canvas {
  background-image: url("../pictures/planet04.jpg");
}

score {
    background-color: white;
    display: block;
    color : black;
    width : 100px;
    height: 20px;
    text-align: left;
}