body {
    background-image : url("../pictures/fence01.jpg");
    background-repeat: repeat;
    margin: auto;
    text-align: center;
    color: white;
}

a {
    color : yellow;
}

canvas {
  background-image: url("../pictures/planet04.jpg");
}

score {
    background-color: white;
    width : 50px;
    height: 30px;
}