body {
    background-image : url("../pictures/fence01.jpg");
    background-repeat: repeat;
    margin: auto;
    text-align: center;
    color: white;
}

a {
    color : yellow;
}

canvas {
  background-image: url("../pictures/planet04.jpg");
}

.vie {
    color : red;
    font-weight: bold;
    font-size: 2em;
}

.vie-text {
    color : red;
    font-weight: bold;
    font-size: 2em;
}